:root {

    --maincolor: #f9f9f9;
    --maincolor_tint: #e6e6e6;
    --maincolor_text: #555555;

    --primary: #7ca157;
    --primary_tint: #70914e;
    --primary_text: #f2f6ee;

    --secondary: #00AFF0;
    --secondary_tint: #009ed8;
    --secondary_text: #e6f7fe;

    --error: #d44006;
    --error_tint: #bf3a05;
    --error_text: #fbece6;

    --disabled: #cccccc;
    --disabled_tint: #aaaaaa;
    --error_text: #555555;

}